@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
  transition: .3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

body {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

/* Header CSS */
.header-area {
  padding: 15px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.header-info a {
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
}

.header-info a:hover {
  color: #f15d30;
}

.header-social a {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  transition: .3s;
}

.header-social a:hover {
  color: #f15d30;
}

.header-area {
  padding: 30px 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  top: 0;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.header ul {
  display: flex;
}

.header ul li {
  margin: 0 10px;
}

.header ul li a {
  color: #fff;
  transition: .3s;
}

.header ul li a:hover {
  color: #f15d30;
}

.btn {
  display: inline-block;
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border: 2px solid transparent;
  background-color: #f15d30;
  transition: 0.3s;
}

.btn:hover {
  background-color: transparent;
  border-color: #f15d30;
  color: #fff;
}

/* Banner CSS */
.banner-area {
  padding: 260px 0 140px 0;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  height: 100vh;
}

.banner-area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: .7;

}

.banner {
  text-align: center;
  color: #fff;
}

.banner h4 {
  text-transform: capitalize;
  font-size: 26px;
}

.banner h2 {
  font-size: 80px;
  font-weight: 800;
  line-height: 90px;
  margin: 20px 0;
  text-transform: uppercase;

}
/* About CSS */
.about-area{
  padding: 100px 0;
}
.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.about-content{
  flex-basis: 55%;
}
.about-content a:hover{
  color: #333;
}
.about-image{
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-content span{
  display: block;
  font-size: 20px;
  text-transform: capitalize;
}
.about-content h4{
  font-size: 50px;
  line-height: 50px;
  text-transform: capitalize;
  margin: 20px 0;

}
.about-content p{
  margin-bottom: 20px;
}
.single-img{
  flex-basis: 48%;
  margin: 10px 0;
}
.single-img img{
  width: 100%;
  border: 1px solid #ddd;
  padding: 3px;
}
.single-img img:hover {
  transform: scale(1.1);
  transition: .3s;
}
/* Destinations CSS */
.destination-area{
  background-color: #333;
  color: #fff;
  padding: 100px 0;
}
.section-title{
  text-align: center;
  margin-bottom: 60px;
}
.section-title p{
  font-size: 22px;
  text-transform: capitalize;
}
.section-title h4{
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 50px;
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
}
.section-title h4:after{
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #f15d30;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);

}
.destinations{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-destination{
  flex-basis: 32%;
  position: relative;
  margin-bottom: 30px;
}
.single-destination img{
  width: 100%;
}
.destination-content{
  position: absolute;
  bottom: 10%;
  width: 80%;
  left: 10%;
  right: 10%;
  background-color: #f15d30;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.destination-content:hover{
  transform: scale(1.1);
  transition: .3s;
}
.destination-content h4{
  font-size: 24px;
  text-transform: capitalize;
  text-align:left;
}
.destination-content h4 span{
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
}
.destination-content a{
  color: #fff;
  font-size: 50px;
}
.destination-area {
  background-color: #333;
}
.destination-area .section-title{
  color: #fff;
}

/* Packages CSS */
.packages-area{
  padding: 100px 0;
}
.packages{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-package{
  flex-basis: 32%;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
}
.single-package img{
  width: 100%;
}
.single-package h4 {
  text-align: center;
  font-size: 22px;
  margin: 15px 0;
}
.package-meta{
  border-bottom: 1px dashed #ddd;
  border-top: 1px dashed #ddd;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}
.package-meta span i{
  margin-right: 3px;
}
.single-package a{
  text-align: center;
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  color: #f15d30;
}
.single-package a:hover {
background-color: #f15d30;
color: #fff;
transition: 0.3s;
transform: scale(1.1);
}

/* Team or Tour Guide CSS */
.team-area{
  background-color: #333;
  padding: 100px 0;
}
.team-area .section-title{
  color: #fff;
}
.teams{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-team{
  flex-basis: 24%;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
}
.single-team img{
  width: 100%;
}
.single-team img:hover {
  transform: scale(1.1);
  transition: .3s;
}
.single-team h4{
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  text-transform: capitalize;
}
.single-team h4 span{
  display: block;
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
}
.single-team h4:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

